<form class="auth_form">
    <input class="input_text_header" type="text" placeholder="email"/>
    <input class="input_text_header" type="password" placeholder="пароль" />
    <input class="input_button_header" type="submit" value="Войти"/>
    <div class="registration">
        <a href="#">регистрация</a>
    </div>
</form>