*{
    margin:0;
    padding:0;
}
html,body{
    font-family: Arial, sans-serif;
    font-size:1em;
    height:99%;
    width:100%;

}
.wrapper{
    min-width:800px;
    height:100%;
}
.cont{
    min-height:85%;
}
.header{
    width:90%;
    margin:1em auto 0 auto;
    border-radius: 5px 5px 0 0;
    border:2px solid #772205;
    display:table;
}
.header_table-bl{
    display:table-row;
}
.header_left-i{
    width:35%;
    padding:20px;
    line-height:1.2;
    background:#631a00;
    display: table-cell;
}
.header_left-i p{
    font-size:1.8em;
    color:#ffffff;
}
.header_medium-i{
    width:30%;
    padding:2em;
    display: table-cell;
}
.for_logo{
    width:30%;
    display: table-cell;
    padding:2em;
}
.hr_list_st-ul{
    list-style-type:none;
    padding:0 20px;
}
.hr_list_st-li{
    font-size: 1.4em;

}
.hr_list_st-li:before{
    content:"-";
    display:inline-block;
    width:10px;
    margin-left:-15px;
    margin-right:5px;
}
.provide_services-i{
    padding:0;
    margin:0;
    font-size:1.4em;
}
.top_menu{
    padding:10px 0;
    width:90%;
    margin:auto;
    list-style-type:none;
    background: #BB5735;
    border-radius: 0 0 5px 5px;
    border:2px solid #772205;
}
.top_menu-i{
    display: inline;
    padding:20px;
}
.top_menu-elem{
    color:#ffffff;
    font-size: 1.2em;
}
.top_menu-elem:hover{
    color:#f2f2f2;
}
.top_position{
    width:90%;
    min-height: calc(100% - 80px);
    margin:20px auto;
}
.top_tenders{

}


.footer{
    border-top:1px solid #772205;
    padding:20px 0;
    margin:20px auto;
    width:90%;
}




































