*{
    margin:0;
    padding:0;
}
html,body{
    font-family: Arial, sans-serif;
    font-size:1em;
    height:99%;
    width:100%;
}
.input_text_header{
    font-size: 1.2em;
    padding:0.3em;
    border:1px solid #4D2C02;
    margin-right:0.4em;
}
.input_button_header{
    background: #50A97E;
    padding:0.5em 1em;
    border:1px solid #4D2C02;
    color:#ffffff;
}
.registration{
    margin:10px 0 0 0;
}
.registration a{
    color:#ffffff;
    font-size: 1em;
}
.wrapper{
    min-width:800px;
    height:100%;
}
.cont{
    min-height:85%;
}
.top_bock{
    width:90%;
    margin:auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.header{
    width:100%;
    margin:1em auto 0 auto;
    border-radius: 5px 5px 0 0;
    border:2px solid #772205;
    display:table;
}
.auth_form{
    margin-top:1em;
}
.header_table-bl{
    display:table-row;
}
.header_left-i{
    width:35%;
    padding:20px;
    line-height:1.2;
    background:#631a00;
    display: table-cell;
}
.header_left-i p{
    font-size:1.8em;
    color:#ffffff;
}
.header_medium-i{
    width:30%;
    padding:2em;
    display: table-cell;
}

.for_logo{
    width:30%;
    display: table-cell;
    padding:2em;
}
.hr_list_st-ul{
    list-style-type:none;
    padding:0 20px;
}
.hr_list_st-li{
    font-size: 1.4em;

}
.hr_list_st-li:before{
    content:"-";
    display:inline-block;
    width:10px;
    margin-left:-15px;
    margin-right:5px;
}
.provide_services-i{
    padding:0;
    margin:0;
    font-size:1.4em;
}
.top_menu{
    padding:10px 0;
    width:100%;
    margin:auto;
    list-style-type:none;
    background: #BB5735;
    border-radius: 0 0 5px 5px;
    border:2px solid #772205;
}
.top_menu-i{
    display: inline;
    padding:20px;
}
.top_menu-elem{
    color:#ffffff;
    font-size: 1.2em;
}
.top_menu-elem:hover{
    color:#f2f2f2;
}
.top_positions-title{
    margin:40px 0 0 0;
    font-size:1.5em;
    width:90%;
}
.top_position{
    width:90%;
    margin:0 auto;
}
.top_tenders{
    margin-top:20px;
}
.carousel-block-i{
    height:154px;
    width:100%;
    background: #772205;
    background: -moz-linear-gradient(top, #772205 2%, #b4335e 11%, #b85b7a 49%, #b4335e 87%, #772205 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#772205), color-stop(11%,#b4335e), color-stop(49%,#b85b7a), color-stop(87%,#b4335e), color-stop(100%,#772205));
    background: -webkit-linear-gradient(top, #772205 2%,#b4335e 11%,#b85b7a 49%,#b4335e 87%,#772205 100%);
    background: -o-linear-gradient(top, #772205 2%,#b4335e 11%,#b85b7a 49%,#b4335e 87%,#772205 100%);
    background: -ms-linear-gradient(top, #772205 2%,#b4335e 11%,#b85b7a 49%,#b4335e 87%,#772205 100%);
    background: linear-gradient(to bottom, #772205 2%,#b4335e 11%,#b85b7a 49%,#b4335e 87%,#772205 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#772205', endColorstr='#772205',GradientType=0 );
}
.top_position-item-link{
    display:block;
    color:#ffffff;
}
.top_position-item-link:hover{
    color:#ffffff;
    text-decoration: none;
}
.top_position-i{
    padding-top:5px;
    line-height: 1;
    display:table;
    height:70px;
    width:100%;
    overflow: hidden;
    text-align: center;
}
.top_position-i p{
    display: table-cell;
    vertical-align: middle;
}
.name-top-model-i{
    font-size:14px;
    height:62px;
    margin-left:10px;
    line-height: 1.2;
    overflow: hidden;
}
.left-time{
    font-size:12px;
    height:15px;
    padding-left:10px;
    margin-top:8px;
    line-height:1.2;
    background:#690426;
}
.top_vacancies{
    margin-top:20px;
}

.footer{
    border-top:1px solid #772205;
    padding:20px 0;
    margin:40px auto;
    width:90%;
}




































