{% extends "::base.html.twig" %}

{% block stylesheets %}

    {% stylesheets
    '@AnthillStartBundle/Resources/public/css/bootstrap/*'
        '@AnthillStartBundle/Resources/public/css/jquery_carousel/*'
        '@AnthillStartBundle/Resources/public/css/*'
    %}
                <link rel="stylesheet"  type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets  %}

{% endblock %}

{% block javascripts %}
     {% javascripts
     '@base_app'
     '@AnthillStartBundle/Resources/public/js/libs/*'
     '@AnthillStartBundle/Resources/public/js/*'
     %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="cont">
            {% block header %}  {% endblock %}
            {% block content %}{% endblock %}
        </div>
        {% block footer  %}{% endblock %}
    </div>

{% endblock %}


